<% include ../partials/header%>


<div class="intro-section single-cover" id="home-section">
  <div class="slide-1 " style="background-image: url('/lib/images/img_5.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row justify-content-center align-items-center text-center">
            <div class="col-lg-6">
              <h1 data-aos="fade-up" data-aos-delay="0">&ldquo; Everything that you want in life right now you'll get from other people &rdquo;</h1>
              <h5 data-aos="fade-up" data-aos-delay="100">
                Create a Campground
              </h5>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="form-row">
    <div style="width: 30%; margin: 25px auto;">

      <form action="/campgrounds" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="description" placeholder="description">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block">Submit</button>
        </div>
      </form>

    </div>
  </div>

</div>

<% include ../partials/footer%>
